.video-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    position: relative;
}

a:hover, a:active {
    color: teal;
}

a {
  color: white;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    vertical-align: top;
    margin: 1em;
}

.video-wrapper {
    align-items: center;
    justify-content: center;
}

.video {
  background-color: white;
}

.card-footer {
  text-align: right;
  background: rgba(255,255,255, 0.15);
  color: white !important;
}

.card-header {
  background: rgba(255,255,255, 0.15);
}
