<h1 class="display-1 text-center" style="margin-top: 20px; margin-bottom: 20px"><span class="badge badge-light">Upload</span></h1>
<div class="jumbotron bg-secondary text-white">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit(uploadForm.value)">
    <div class="form-group">
      <label class="col-form-label col-form-label-lg " for="title">Title</label>
      <input id="title" type="text" class="form-control form-control-lg" formControlName="title" placeholder="Title of your video">
    </div>
    <div class="form-group">
      <fieldset disabled="">
        <label class="col-form-label col-form-label-lg text" for="author">Author</label>
        <input class="form-control form-control-lg" id="author" type="text" readonly="" disabled="" formControlName="author">
      </fieldset>
    </div>
    <div class="form-group">
      <label class="col-form-label col-form-label-lg" for="description">Description</label>
      <textarea class="form-control form-control-lg" id="description" rows="3" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label class="col-form-label col-form-label-lg" for="file">Select Video File</label>
      <p>
        <label class="form-control-lg"><input id="file" type="file" (change)="onFileChange($event)" placeholder="Upload file" accept=".MOV,.mp4"></label>
      </p>
    </div>
    <div class ="buttonWrapper">
      <button type="submit" class="btn btn-danger btn-lg">Upload</button>
    </div>
  </form>
</div>
