<div class="formWrapper">
<form [formGroup]="uploadForm" (ngSubmit)="onSubmit(uploadForm.value)">

    <div>
        <label for="title">
          Title
        </label>
        <input id="title" type="text" formControlName="title">
      </div>
    
      <div>
        <label for="author">
          Author
        </label>
        <input id="author" type="text" formControlName="author">
      </div>

      <div>
        <label for="description">
          Description
        </label>
        <input id="description" type="text" formControlName="description">
      </div>

      <div>
        <label for="file">
          Select Video File
        </label>
        <input type="file" (change)="onFileChange($event)" placeholder="Upload file" accept=".MOV,.mp4">
      </div>


    <div class = "buttonWrapper">
      <button class="button" type="submit">Upload</button>
    </div>
</form>
</div>
