.spacer {
    flex: 1 1 auto;
    display: inline-block;
}

a:link, a:visited {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: auto auto auto 10px;
  position: relative;
}

a:hover, a:active {
  color: teal;
}

a {
  color: white;
}

mat-toolbar {
  display: inline-block;
}

form {
  width: 40%;
  display: inline-block;
  margin: 0;
  margin-left: 10%;
  position: absolute;
  top: 2%;
}

.form-group{
  display: inline-block;
  width: 50%;
}

.buttonWrapper{
  display: inline-block;
}

.toolbarWrapper {
  display: inline-block;
  width: 100%;
}
