<div>
  <mat-toolbar class="bg-primary">
      <a routerLink="/home"><h1 class="display-3">Ca$h Movie</h1></a>
    <span class="spacer"></span>
    <div class="float-right">
      <button type="button" class="btn btn-outline-warning btn-lg" style="margin: 10px;" routerLink="/home">Home</button>
      <button type="button" class="btn btn-outline-info btn-lg" style="margin: 10px;" routerLink="/upload">Upload</button>
      <app-authentication></app-authentication>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
