<div *ngIf="video">
  <div class="d-flex w-100 flex-column align-items-start">
    <video controls="controls"  name="Video Name" [src]="video.filePath"></video>
  </div>
  <div id="video-title" class="list-group-item flex-column align-items-start active d-flex w-100 justify-content-between" >
    <h1 class="display-3">{{video.title}}</h1>
    <div class="d-flex w-100 justify-content-between">
      <a routerLink="/videos/user/{{video.author}}"><h1>{{video.author}}</h1></a>
<!--      <h1>{{video.author}}</h1>-->
      <h2 class="text-muted">{{video.date | date:'longDate'}}</h2>
    </div>
    <p class="lead">{{video.description}}</p>
  </div>
  <app-video-comments [videoId]="video.id"></app-video-comments>
</div>
