video {
  border: 15px double #333;
  border-radius: 45px 15px 35px 5px/15px 5px 15px 65px;
  background: white;
  height: 600px;
  width: 96%;
  display: block;
  margin: auto;
  margin: 2%;
}

#video-title {
  margin: 2%;
  width: 96% !important;
  background: #555;
}

a:link, a:visited {
  text-align: left;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:hover, a:active {
  color: teal;
}

a {
  color: white;
}

.lead {
  font-size: 1.55rem;
}
